<!doctype html>
<html>
<head>
  {{> header}}
</head>
<body>
    {{> pageheader}}
  <aside>
    <ul>
      <li>First</li>
      <li>Second</li>
      <li>Third</li>
    </ul>
  </aside>
  <!-- si include il partial "footer" -->
  {{> footer}}
</body>
</html>