<!doctype html>
<html>
<head>
  {{> header}}
</head>
<body>
  {{> pageheader}}

  <p>{{welcomeMessage}}</p>
  <p>{{screamIt welcomeMessage}}</p>
  <p>{{screamIt "testo"}}</p>

  {{> footer}}
</body>
</html>